*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    background-image: url(imagem/fundobg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.container header{
    background-color: rgba(0, 0, 0, 0.219);
    padding: 10px;
}

.container h1{
    padding: 15px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #820030;
}

.container h2{
    color: #fff;
    text-align: center;
}

/* conteudo */

main section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 150px;
}

main section a{
    text-decoration: none;
    color:white;
    font-family: sans-serif;
    background-color: rgb(255, 0, 106);
    border-radius: 20px;
    padding: 10px 30px;
    font-weight: bold;
    transition: all 3s;
}

main section a:hover{
    transform: scale(1.1);
    transition: 1s;
}


footer{
    background-color: black;
    text-align: center;
    color: #fff;
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

